<h1>Layout: {{ this.layout.name }}</h1>

<Layout @rectangles={{this.rectangles}} 
        @addRectangle={{addRectangle}}
        @updateRectangle={{updateRectangle}}
        @deleteRectangle={{deleteRectangle}}/>